body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0px;
    background-color: #ffffff;
}
.header-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 0px solid #ffffff;
}

.logo-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
    border: 0px solid #ffffff;
}

.add-text{
    font: normal normal bold 20px/25px Montserrat;
    font-family: 'Montserrat', sans-serif;
    color: #008CFF;
}

.add-book {
    color:#42515F;
}

*{
    box-sizing: border-box;
}

.form-content {
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid #ffffff;
    margin: 10px;
    min-height: calc(100%-80px);
}

.form { 
    background-color: #ffffff;
    
    width: 65%;
    border-radius: 8px;
    background: #ffffff 0px 0px no-repeat padding-box;
    opacity: 1;
    margin: 20px 0px;
    border: 1px solid #f5f5f5;
    box-shadow: 0px 3px 6px #00000029;
}

.form-header {
    font: normal normal normal 28px/37px Roboto;
    color: #ffffff;
    background-color: #008CFF;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 41px 0px 30px;
    text-align: left;
    letter-spacing: 0px;
    text-transform: uppercase;
}