* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 10px 0;
}

.header-content {
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.addressBook-text {
    text-align: left;
    font: normal normal bold 22px/25px Roboto, Helvetica, Arial, sans-serif;
    color: rgba(33, 146, 239);
    margin-left: 10px;
}

.addressBook-book {
    color: black;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 80%;
}

.form-content {
    min-height: calc(100% - 80px);
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
}

.form {
    background: #ffffff 0% 0% no-repeat padding-box;
    min-width: 1067px;
    margin: 2%;
    box-shadow: 0px 3px 6px #00000029;
    border: 1px solid #f5f5f5;
    border-radius: 8px;
    opacity: 1;
}

.form-head {
    display: flex;
    background: #008cff 0% 0% no-repeat padding-box;
    border-radius: 8px 8px 0px 0px;
    opacity: 1;
    padding: 30px;
}

.form-head-text {
    flex: 6;
    text-align: center;
    width: 50%;
    margin: 0 auto;
    font: normal normal normal 28px/37px Roboto;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    opacity: 1;
}

.row-content {
    margin-left: 30px;
    min-width: 80%;
    min-height: 80%;
    max-width: 100%;
    margin-bottom: 10px;
}

.form-constrains {
    margin: 2% 10%;
    display: flex;
    flex-flow: column wrap;
}

label {
    /* padding: 12px 12px 12px 0; */
    display: inline-block;
    margin-top: 20px;
}

.text {
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    margin-bottom: 10px;
}

.input {
    width: 100%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    opacity: 1;
    resize: horizontal;
    padding: 16px 12px;
}

textarea {
    height: 80%;
    width: 100%;
    resize: none;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    letter-spacing: -1px;
    opacity: 1;
    padding-bottom: 60px;
    padding-left: 10px;
    padding-top: 10px;
}

.column-constrains {
    display: flex;
    flex-flow: row wrap;
    padding-top: 19px;
}

.column-content {
    flex: 2;
}

select {
    padding: 12px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 3px;
    text-align: left;
    font: normal normal normal 18px/24px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    opacity: 1;
    width: 80%;
}

.zipcode {
    padding: 15px 12px;
}

error-output {
    margin-left: 10px;
    font-size: 14px;
    font-style: italic;
    color: red;
}